*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

.top-header{
    background:#d9d9d9;
    height:55px;
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding:0 25px;
    border-top:4px solid #4a2d2d;
}

/* Social Icons */
.social-icons{
    display:flex;
    gap:8px;
}

.social-icons a{
    width:28px;
    height:24px;
    display:flex;
    align-items:center;
    justify-content:center;
    color:white;
    text-decoration:none;
    border-radius:3px;
}

.facebook{background:#3b5998;}
.twitter{background:#1da1f2;}
.android{background:#8bc34a;}
.whatsapp{background:#25d366;}
.apple{background:#4a90e2;}

/* Search Box */
.search-box{
    display:flex;
    width:350px;
}

.search-box input{
    width:100%;
    padding:8px;
    border:1px solid #bbb;
}

.search-box button{
    width:40px;
    border:none;
    background:white;
    cursor:pointer;
    border:1px solid #bbb;
}

/* Right Section */
.header-links{
    display:flex;
    align-items:center;
    gap:10px;
    font-size:14px;
}

.header-links a{
    text-decoration:none;
    color:black;
}

.theme{
    width:14px;
    height:14px;
    display:inline-block;
}

.orange{
    background:#d9781f;
}

.green{
    background:#3d8b3d;
}

.header-links button{
    height:30px;
    min-width:36px;
    border:1px solid #999;
    background:#eee;
    cursor:pointer;
}

.dark-theme{
    background:black !important;
    color:white;
}

.accessibility{
    font-size:16px;
}

/* Header */
header{
    background:#ffff;
    padding:15px 5%;
    border: 2px rgb(133, 132, 132);
    border-style: solid;
    
}
.top-bar{
    display: flex;
    align-items: center;
    position: relative;
    height: 80px;
    
}

.logo{
    display:flex;
    align-items:center;
    gap:10px;
}

.logo img{
    width:60px;
}
.header-title{
    width: 100%;
    text-align: center;
    color: rgb(68, 21, 21);
    font-size: 35px;
    font-weight: bold;
}

.bottom-bar{
    margin: 0;
    width: 100%;
    height: 50px;
    background-color: #e6ebf1;
    position: relative;
}

nav{
    position: relative;
    margin-top: 5px;
}

.dropdown{
    position: relative;
    gap: 50px;
}

.dropdown > a{
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 12px 20px;
    font-size: 20px;
    font-weight: 500;
    color: #333;
    text-decoration: none;
    transition: background 0.3s, color 0.3s;
}

.dropdown > a:hover{
    background: #1da1f2;
    color: #fff;
}

nav ul{
    display:flex;
    justify-content: center;
    list-style:none;
    gap:100px;
    padding: 0;
    margin: 0;
}

nav ul li a{
    display: block;
    padding: 12px 20px;
    font-size: 20px;
    font-weight: 500;
    color: #333;
    text-decoration: none;
    transition: background 0.3s, color 0.3s;
}

nav ul li a:hover{
    background: #1da1f2;
    color: #fff;
}

/* Hide dropdown initially */
.dropdown-menu {
    display: none;
    position: absolute;
    left: 0;
    top: 100%;
    background: white;
    min-width: 180px;
    list-style: none;
    margin: 0;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
    z-index: 1000;
    border-radius: 4px;
    
}

/* Dropdown links */
.dropdown-menu li a {
    display: block;
    padding: 12px 20px;
    color: #333;
    text-decoration: none;
    font-size: 18px;
    transition: background 0.2s;
}

.dropdown-menu li a:hover{
    background: #1da1f2;
    color: #fff;
}

/* Show dropdown on hover */
.dropdown:hover .dropdown-menu {
    display: block;
}

/* SLIDE SHOW CONTAINER */

.slideshow-container{
    width:100%;
    height:500px;
    margin:auto;
    position:relative;
    overflow:hidden;
}

/* Slides */

.mySlides{
    position:absolute;
    width:70%;
    height:100%;
    left:50%;
    top:0;
    transition:all .6s ease;
}

.mySlides img{
    width:70%;
    height:100%;
    object-fit:cover;
    border-radius:10px;
    border-color: #333;
    border-width: 2px;
    border: solid;
}

/* Center Slide */

.mySlides.active{
    transform:translateX(-50%) scale(1);
    opacity:1;
    z-index:3;
}

/* Left Slide */

.mySlides.prev{
    transform:translateX(-120%) scale(0.8);
    opacity:.4;
    z-index:2;
}

/* Right Slide */

.mySlides.next{
    transform:translateX(20%) scale(0.8);
    opacity:.4;
    z-index:2;
}

/* Hide Other Slides */

.mySlides.hide{
    opacity:0;
    pointer-events:none;
    z-index:1;
}

/* Caption */

.text{
    position:absolute;
    bottom:15px;
    left:0;
    width:100%;
    text-align:center;
    color:#fff;
    font-size:22px;
    font-weight:bold;
    text-shadow:0 2px 5px rgba(0,0,0,.6);
}

/* Dots */

.dot{
    height:15px;
    width:15px;
    margin:0 4px;
    background:#bbb;
    border-radius:50%;
    display:inline-block;
    transition:.4s;
}

.dot.active{
    background:#333;
}

/* Responsive */

@media(max-width:780px){
    .slideshow-container{
        width:95%;
        height:300px;
    }

    .mySlides{
        width:85%;
    }

    .mySlides.prev{
        transform:translateX(-110%) scale(.75);
    }

    .mySlides.next{
        transform:translateX(10%) scale(.75);
    }

    .text{
        font-size:16px;
    }
}
