* {
    margin: 0;
    padding: 0;
}
.body{
    margin: 0;
    padding: 0;
}
.header{
    display: flex;
    width: auto;
    height: 150px;
    /* background-color:	#AFEEEE;  */

    /* color: rgb(26, 28, 29); */
    background: linear-gradient(to left, #ccc6ca , #d3d1d1);;
    border: 1px solid black;
}
.Container{
    display: flex;
    position: relative;
    width: 100%;
    min-height: calc(100vh - 150px);
}

.leftbar{
    width: 15%;
    height: 100vh;
    /* background-color: blue;  */
    z-index: 100;
}

.rightbar{
    position: relative;
    width: 85%;
    min-height: calc(100vh - 150px);
    /* background-color:#778899; */
    background: linear-gradient(to left, #e6e6f0 , #b0afb1);; 
    overflow: hidden;
    z-index: 100;
}
.LoginpageBackground_icon{
    margin-top: 50px;
    margin-left: -100px;
    inset: 0;
    width: 60%;
    height: 60%;
    object-fit:contain;
    z-index: 1;
}

.loginform{
    position: absolute;
    top: 50%;
    left: 60%;
    transform: translate(-50%, -50%);
    padding: 30px;
    width: 350px;
    height: 500px;
    border: 2px solid rgb(24, 2, 34);
    background-color:	#1099ac;
    border-radius: 10px;
    box-shadow: 2px 2px 5px 3px rgba(15, 15, 15, 0.411);
    z-index: 2;
}
.leftbar-icon{
    width: 100%;
    height: 100%;
    object-fit:contain;
    z-index: 5; 
    /* background-color: rgb(197, 192, 202); */
    background-color:#f8f8ff; */
    /* background: linear-gradient(to left, #cfc6cc , #BE5869);; */
}
.hd2{
    display: flex;
    margin-left: 40%; 
    align-items: center;
    justify-content: center;
    
       
}
.tglogo{
    width: 150px;
    height: 150px;
}

label{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: large;
    color: rgb(7, 4, 0);
    
}
input[type=radio]{
    width: 20px;
    height: 20px;
}
input[type=text]{
    width: 280px;
    height: 30px;
    margin: 10px 10px;
    border-radius: 7px;
}
input[type=password]{
    width: 280px;
    height: 30px;
    margin: 10px 10px;
    border-radius: 7px;
    box-shadow: 3px rgb(68, 64, 41) ;
}
.line{
    margin-top: 50px;
    margin-bottom: 20px;
    width: 100%;
    height: 2px;
    background-color: rgb(136, 136, 141);
} 
.line1{
    margin: 0;
    margin-bottom: 10px;
    width: 100%;
    height: 2px;
    background-color: rgb(191, 191, 209);
}
button{
    width: 100px;
    height: 35px;
    border-radius: 15px;
    background-color: rgb(206, 212, 210);
    color: rgb(24, 22, 26);
    font-size: small;
    margin-left: 60%;
    
}
button:hover{
    transition-duration: 0.2s;
  
}
input[type="text"],input[type="password"]{
    font-size: 15px;
}
