{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Government Portal</title>
    <link rel="stylesheet" href="{% static 'css/FirstPage.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>
<body>
  <div class="top-header">

    <!-- Social Icons -->   
    <div class="social-icons">
        
        <a href="#" class="facebook"><i class="fab fa-facebook-f"></i></a>
        <a href="#" class="twitter"><i class="fab fa-twitter"></i></a>
        <a href="#" class="android"><i class="fab fa-android"></i></a>
        <a href="#" class="whatsapp"><i class="fab fa-whatsapp"></i></a>
        <a href="#" class="apple"><i class="fab fa-apple"></i></a>
    </div>

    <!-- Search Box -->
    <div class="search-box">
        <input type="text" placeholder="Search">
        <button><i class="fa fa-search"></i></button>
    </div>

    <!-- Right Menu -->
    <div class="header-links">
        <a href="#">| Skip to Content |</a>

        <span class="theme-text">Select theme :</span>

        <span class="theme orange"></span>
        <span class="theme green"></span>

        <button class="accessibility">
            <i class="fa-solid fa-wheelchair"></i>
        </button>

        <button>A-</button>
        <button>A</button>
        <button>A+</button>
        <button class="dark-theme">A</button>
    </div>

</div>
<header>
    <div class="top-bar">
        <div class="logo">
            <img src="https://upload.wikimedia.org/wikipedia/commons/5/55/Emblem_of_India.svg" alt="Logo">
        </div>
        <div class="header-title">
            భద్రాద్రి కొత్తగూడెం
        </div>
    </div>
</header>

<div class="slideshow-container">  
    <div class="mySlides fade">
        <!-- <div class="numbertext">1 / 3</div> -->
        <img src="{% static 'img/MunicipalOffice.jpg' %}" style="width:100%">
        <div class="text">Municipal Office</div>
    </div>

    <div class="mySlides fade">
        <!-- <div class="numbertext">2 / 3</div> -->
        <img src="{% static 'img/Railwaystation.jpg' %}" style="width:100%">
        <div class="text">Railway Station Road </div>
    </div>

    <div class="mySlides fade">
        <!-- <div class="numbertext">3 / 3</div> -->
        <img src="{% static 'img/SCCL.jpg' %}" style="width:100%">
        <div class="text">Singareni </div>
    </div>

    <div style="text-align:center">
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
    </div>
</div>

<section class="bottom-bar">
     <nav>
            <ul>
                <li class="dropdown">
                    <a href="#">Home▼</a>
                    <ul class="dropdown-menu">
                          <li><a href="page1.html">Page1</a></li>
                          <li><a href="page2.html">Page2</a></li>
                          <li><a href="page3.html">Page3</a></li>
                    </ul>
                    
                </li>

                <li class="dropdown">
                      <a href="#">About us ▼</a>
                     <ul class="dropdown-menu">
                          <li><a href="About Municipality.html">Page4</a></li>
                          <li><a href="page2.html">Page5</a></li>
                          <li><a href="page3.html">Page6</a></li>
                     </ul>
                 </li>

                <li class="dropdown">
                <a href="{% url 'Mapview' %}">Data Base</a>
                <ul class="dropdown-menu">
                    
                </ul>
                </li>

                <li class="dropdown">
                     <a href="#">Departments▼</a>
                    <ul class="dropdown-menu">
                         <li><a href="page7.html">Page7</a></li>
                         <li><a href="page8.html">Page8</a></li>
                         <li><a href="page9.html">Page9</a></li>
                    </ul>
                </li>

                <li class="dropdown">
                     <a href="#">Services▼</a>
                    <ul class="dropdown-menu">
                         <li><a href="page10.html">Page10</a></li>
                         <li><a href="page11.html">Page11</a></li>
                         <li><a href="page12.html">Page12</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                     <a href="#">Schemes▼</a>
                    <ul class="dropdown-menu">
                         <li><a href="page10.html">Page13</a></li>
                         <li><a href="page11.html">Page14</a></li>
                         <li><a href="page12.html">Page15</a></li>
                    </ul>
                </li>

                <li class="dropdown">
                     <a href="#">Tenders▼</a>
                    <ul class="dropdown-menu">
                         <li><a href="page10.html">Page16</a></li>
                         <li><a href="page11.html">Page17</a></li>
                         <li><a href="page12.html">Page18</a></li>
                    </ul>
                </li>
                
                <li class="dropdown">
                    <a href="#">Contact</a>
                </li>
            </ul>
        </nav>
</section>

<div class= About-Municipality >
        <h4>About Kothaugem Municiplaity:</h4><br>
        <p> Ancient & Prehistoric Roots: Archaeological excavations have revealed 
            that prehistoric humans roamed the lower Godavari and Kothagudem valleys. 
            Megalithic dolmens and Buddhist sites have been discovered in surrounding regions like Janampet and Aswaraopeta
            Ancient & Prehistoric Roots: Archaeological excavations have revealed 
            that prehistoric humans roamed the lower Godavari and Kothagudem valleys. 
            Megalithic dolmens and Buddhist sites have been discovered in surrounding regions like Janampet and Aswaraopeta</p>
        <p> Ancient & Prehistoric Roots: Archaeological excavations have revealed 
            that prehistoric humans roamed the lower Godavari and Kothagudem valleys. 
            Megalithic dolmens and Buddhist sites have been discovered in surrounding regions like Janampet and Aswaraopeta
            Ancient & Prehistoric Roots: Archaeological excavations have revealed 
            that prehistoric humans roamed the lower Godavari and Kothagudem valleys. 
            Megalithic dolmens and Buddhist sites have been discovered in surrounding regions like Janampet and Aswaraopeta</p>
        
</div>


<div class= About-Municipality >
        <h4>About Kothaugem Municiplaity:</h4><br>
        <p> Ancient & Prehistoric Roots: Archaeological excavations have revealed 
            that prehistoric humans roamed the lower Godavari and Kothagudem valleys. 
            Megalithic dolmens and Buddhist sites have been discovered in surrounding regions like Janampet and Aswaraopeta
            Ancient & Prehistoric Roots: Archaeological excavations have revealed 
            that prehistoric humans roamed the lower Godavari and Kothagudem valleys. 
            Megalithic dolmens and Buddhist sites have been discovered in surrounding regions like Janampet and Aswaraopeta</p>
        <p> Ancient & Prehistoric Roots: Archaeological excavations have revealed 
            that prehistoric humans roamed the lower Godavari and Kothagudem valleys. 
            Megalithic dolmens and Buddhist sites have been discovered in surrounding regions like Janampet and Aswaraopeta
            Ancient & Prehistoric Roots: Archaeological excavations have revealed 
            that prehistoric humans roamed the lower Godavari and Kothagudem valleys. 
            Megalithic dolmens and Buddhist sites have been discovered in surrounding regions like Janampet and Aswaraopeta</p>
        
</div>
<div class= About-Municipality >
        <h4>About Kothaugem Municiplaity:</h4><br>
        <p> Ancient & Prehistoric Roots: Archaeological excavations have revealed 
            that prehistoric humans roamed the lower Godavari and Kothagudem valleys. 
            Megalithic dolmens and Buddhist sites have been discovered in surrounding regions like Janampet and Aswaraopeta
            Ancient & Prehistoric Roots: Archaeological excavations have revealed 
            that prehistoric humans roamed the lower Godavari and Kothagudem valleys. 
            Megalithic dolmens and Buddhist sites have been discovered in surrounding regions like Janampet and Aswaraopeta</p>
        <p> Ancient & Prehistoric Roots: Archaeological excavations have revealed 
            that prehistoric humans roamed the lower Godavari and Kothagudem valleys. 
            Megalithic dolmens and Buddhist sites have been discovered in surrounding regions like Janampet and Aswaraopeta
            Ancient & Prehistoric Roots: Archaeological excavations have revealed 
            that prehistoric humans roamed the lower Godavari and Kothagudem valleys. 
            Megalithic dolmens and Buddhist sites have been discovered in surrounding regions like Janampet and Aswaraopeta</p>
        
</div>

<div class= About-Municipality >
        <h4>About Kothaugem Municiplaity:</h4><br>
        <p> Ancient & Prehistoric Roots: Archaeological excavations have revealed 
            that prehistoric humans roamed the lower Godavari and Kothagudem valleys. 
            Megalithic dolmens and Buddhist sites have been discovered in surrounding regions like Janampet and Aswaraopeta
            Ancient & Prehistoric Roots: Archaeological excavations have revealed 
            that prehistoric humans roamed the lower Godavari and Kothagudem valleys. 
            Megalithic dolmens and Buddhist sites have been discovered in surrounding regions like Janampet and Aswaraopeta</p>
        <p> Ancient & Prehistoric Roots: Archaeological excavations have revealed 
            that prehistoric humans roamed the lower Godavari and Kothagudem valleys. 
            Megalithic dolmens and Buddhist sites have been discovered in surrounding regions like Janampet and Aswaraopeta
            Ancient & Prehistoric Roots: Archaeological excavations have revealed 
            that prehistoric humans roamed the lower Godavari and Kothagudem valleys. 
            Megalithic dolmens and Buddhist sites have been discovered in surrounding regions like Janampet and Aswaraopeta</p>
        
</div>
<div class= About-Municipality >
        <h4>About Kothaugem Municiplaity:</h4><br>
        <p> Ancient & Prehistoric Roots: Archaeological excavations have revealed 
            that prehistoric humans roamed the lower Godavari and Kothagudem valleys. 
            Megalithic dolmens and Buddhist sites have been discovered in surrounding regions like Janampet and Aswaraopeta
            Ancient & Prehistoric Roots: Archaeological excavations have revealed 
            that prehistoric humans roamed the lower Godavari and Kothagudem valleys. 
            Megalithic dolmens and Buddhist sites have been discovered in surrounding regions like Janampet and Aswaraopeta</p>
        <p> Ancient & Prehistoric Roots: Archaeological excavations have revealed 
            that prehistoric humans roamed the lower Godavari and Kothagudem valleys. 
            Megalithic dolmens and Buddhist sites have been discovered in surrounding regions like Janampet and Aswaraopeta
            Ancient & Prehistoric Roots: Archaeological excavations have revealed 
            that prehistoric humans roamed the lower Godavari and Kothagudem valleys. 
            Megalithic dolmens and Buddhist sites have been discovered in surrounding regions like Janampet and Aswaraopeta</p>
        
</div>

<script src="{% static 'js/Slideshow.js' %}"></script>

</body>
</html>